.gameboard {
	text-align: center;
	display: flex;
	flex-direction: row;
}
.top-row-buttons {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 20px;
	font-size: 20px;
	cursor: pointer;
}
.bottom-row-buttons {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 20px;
	font-size: 20px;
	cursor: pointer;
}

#green {
	background-color: green;
	margin-bottom: 20px;
	border: 2px solid black;
	padding: 20px;
}
#red {
	background-color: red;
	margin-bottom: 20px;
	border: 2px solid black;
	padding: 20px;
}
#yellow {
	background-color: yellow;
	border: 2px solid black;
	padding: 20px;
}
#blue {
	background-color: blue;
	border: 2px solid black;
	padding: 20px;
}
#restart-button,
#start-button {
	cursor: pointer;
	border: 1px solid black;
	text-align: center;
	display: inline-block;
}

/* glowing buttons */
#green.glow {
	background-color: rgb(167, 241, 167);
}
#red.glow {
	background-color: rgb(245, 135, 135);
}
#yellow.glow {
	background-color: rgb(216, 236, 124);
}
#blue.glow {
	background-color: rgb(129, 137, 245);
}
