body {
	/* background: repeating-linear-gradient(
		45deg,
		#6220b9,
		rgb(151, 27, 209) 80px,
		#031ca7 60px
	); */
	background-repeat: no-repeat;
	background-size: stretch;
	text-align: center;
	align-items: center;
	animation: simon 30s infinite;
}
@keyframes simon {
	0% {
		background-color: rgb(151, 27, 209);
	}
	50% {
		background-color: rgb(6, 6, 172);
	}
	100% {
		background-color: rgb(151, 27, 209);
	}
}

.game-title {
	font-family: 'Righteous', cursive;
	font-size: 3em;
	background: linear-gradient(
		to right,
		rgb(151, 27, 209) 10px,
		rgb(240, 4, 240),
		rgb(151, 27, 209)
	);
	color: rgb(151, 27, 209);
	text-shadow: 2px 2px blue;
}
.gameboard {
	display: grid;
	margin: auto;
	margin-top: 30%;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(16, 1fr);
	grid-gap: 10px;
	min-height: 300px;
	max-height: 300px;
	min-width: 150px;
	max-width: 300px;
	float: center;
}
.game-buttons {
	/* margin: 0;
	height: 155px;
	width: 155px;
	float: left;
	position: relative;
	border: solid 5px black; */
}

#green {
	background: rgb(22, 243, 22);
	border: solid 5px black;
	border-radius: 160px 0 0 0;
	grid-column: 1 / span 4;
	grid-row: 1 / span 8;
}
#red {
	background: rgb(240, 26, 26);
	border: solid 5px black;
	border-radius: 0 160px 0 0;
	grid-column: 5 / span 4;
	grid-row: 1 / span 8;
	box-shadow: 5px 0 rgb(35, 22, 36);
}
#yellow {
	background: rgb(201, 245, 8);
	border: solid 5px black;
	border-radius: 0 0 0 160px;
	grid-column: 1 / span 4;
	grid-row: 9 / span 8;
	box-shadow: 0 5px rgb(35, 22, 36);
}
#blue {
	background: rgb(35, 32, 250);
	border: solid 5px black;
	border-radius: 0 0 160px;
	grid-column: 5 / span 4;
	grid-row: 9 / span 8;
	box-shadow: 5px 2px rgb(35, 22, 36);
}
.center-buttons {
	grid-column: 3 / span 4;
	grid-row: 5 / span 8;
	background-color: rgb(228, 226, 226);
	background: radial-gradient(
			circle at bottom right,
			hsl(0, 1%, 62%),
			hsl(0, 1%, 45%),
			rgb(73, 73, 73),
			rgb(105, 105, 105),
			rgb(73, 73, 73),
			rgb(100, 100, 100),
			rgb(107, 107, 107)
		),
		radial-gradient(circle, rgb(194, 32, 32), black);

	border: solid 10px rgb(0, 0, 0);
	border-radius: 100%;
}

#restart-button,
#start-button,
#replay-button {
	font-size: 0.9em;
	background-color: grey;
	border-radius: 30%;
	border-radius: 30%;
	cursor: pointer;
	border: 2px solid black;
	text-align: center;
	display: inline-block;
	padding: 3px;
	margin-top: 5px;
	box-shadow: 2px 0 3px rgb(41, 40, 40);
	color: black;
	font-family: 'Righteous', cursive;
	font-size: 13x;
}
#counter-display {
	border-radius: 30%;
	border: 1px solid red;
	height: 20px;
	text-align: center;
	background-color: black;
	color: red;
	vertical-align: center;
	width: 20px;
	margin: 0 auto;
}

/* glowing buttons  */
#green.glow {
	background: radial-gradient(rgb(115, 163, 115) 10%, rgb(15, 223, 15));
}
#red.glow {
	background: radial-gradient(rgb(197, 104, 98) 10%, red);
}
#yellow.glow {
	background: radial-gradient(rgb(194, 192, 106) 10%, yellow);
}
#blue.glow {
	background: radial-gradient(rgb(79, 95, 189) 10%, blue);
}

#wrong-message {
	display: block;
	font-family: 'Righteous', cursive;
	font-size: 3em;
	color: rgb(151, 27, 209);
	text-shadow: 2px 2px blue;
	background: linear-gradient(
		to right,
		rgb(151, 27, 209) 10px,
		rgb(240, 4, 240),
		rgb(151, 27, 209)
	);
	margin-top: 30%;
}
